@{    
    ViewData["Title"] = "My Page";
}

<div class="col-sm-5 text-left container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#mainEarning">Main</a></li>
        <li><a data-toggle="tab" href="#historyEarning">History</a></li>
        <li><a data-toggle="tab" href="#statisticEarning">Statistic</a></li>
    </ul>
    <div class="tab-content">
        <div id="mainEarning" class="tab-pane fade in active">
            <h2>MAIN EARNING</h2>
            <br/>
            <br/>
            <label>Salary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input />
            <button class="btn-success">+</button>
            <button class="btn-danger">back</button>
            <br/>
            <br/>
            <label>Unexpected<br/>Earnings</label>
            <input />
            <button class="btn-success">+</button>
            <button class="btn-danger">back</button>            
            <br />
            <br />
            <textarea rows="4" cols="45">comment</textarea>
            
        </div>
        <div id="historyEarning" class="tab-pane fade">
            <h2>HISTORY EARNING</h2>
            
        </div>
        <div id="statisticEarning" class="tab-pane fade">
            <h2>STATISTIC EARNING</h2>
            
        </div>
        
    </div>
</div>
<div class="col-sm-5 text-left container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#mainCosts">Main</a></li>
        <li><a data-toggle="tab" href="#historyCosts">History</a></li>
        <li><a data-toggle="tab" href="#statisticCosts">Statistic</a></li>
        <li><a data-toggle="tab" href="#settingsCosts">Settings</a></li>
    </ul>
    <div class="tab-content">
        <div id="mainCosts" class="tab-pane fade in active">
            <h2>MAIN COSTS</h2>
            <br />
            <br />
            <label>Cost&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input />
            <button class="btn-success">+</button>
            <button class="btn-danger">back</button>
            <br />
            <br />
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                    Category
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><button class="btn-success">&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;</button></li>
                    <li><a href="#">utilities</a></li>
                    <li><a href="#">entertainmen</a></li>
                    <li><a href="#">food</a></li>                    
                </ul>                
            </div>
            
            <br />
            <textarea rows="4" cols="45">comment</textarea>
            
        </div>
        <div id="historyCosts" class="tab-pane fade">
            <h2>HISTORY COSTS</h2>
            
        </div>
        <div id="statisticCosts" class="tab-pane fade">
            <h2>STATISTIC COSTS</h2>
            
        </div>
        <div id="settingsCosts" class="tab-pane fade">
            <h2>SETTINGS COSTS</h2>
            
        </div>
    </div>
</div>