@model SignupRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/AuthenticationForm.css" />
    <link rel="stylesheet" href="~/css/AuthenticationValidationError.css" />
</head>
<body>    
    <div class="container">
        <h2>Family Cost Keeping</h2>
        <a asp-controller="Authentication">Authenticate</a>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success center-block text-center">@TempData["message"]</div>
        }
        <hr/>        
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label>Name:</label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="Name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Mail:</label>
                <input asp-for="Mail" type="text" class="form-control" placeholder="email">
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Login:</label><br />
                <input asp-for="LogInName" type="text" class="form-control" placeholder="Login"/>
                <span asp-validation-for="LogInName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label><input asp-for="RememberCredentials" type="checkbox" name="remember"> Remember me</label>
            </div>
            <br />
            <button type="submit" class="btn btn-danger">Create</button>            
            <hr/>
            <h6>* login and password are case sensitive</h6>
        </form>
    </div>
</body>
</html>
