@model AuthenticationRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/AuthenticationForm.css" />
    <link rel="stylesheet" href="~/css/AuthenticationValidationError.css" />
</head>
<body>    
    <div class="container">
        <h2>Family Cost Keeping</h2>
        <a asp-controller="Signup">Sign Up</a>
        @if (TempData["invalidDataMessage"] != null)
        {
            <div class="alert alert-danger center-block text-center">@TempData["invalidDataMessage"]</div>
        }
        @if (TempData["signedUpSuccessMessage"] != null)
        {
            <div class="alert alert-success center-block text-center">@TempData["signedUpSuccessMessage"]</div>            
        }
        <hr/>
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label >Login:</label><br />
                <input asp-for="LogInName" type="text" class="form-control" placeholder="Login" />
                <span asp-validation-for="LogInName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label><input asp-for="RememberCredentials" type="checkbox" /> Remember me</label>
            </div>
            <br />
            <button type="submit" class="btn btn-danger">Submit</button>            
            <hr/>
            <h6>* login and password are case sensitive</h6>
        </form>
    </div>
</body>
</html>
