@model GeneralUserInfoViewModel

<label>End of month: @Model.CurrentUtcDateTime.ToLocalTime().AddDays(Model.DaysOfCurrentMonthLeft).ToShortDateString()</label>
<br />
<label>@Model.DaysOfCurrentMonthLeft (days left)</label>
<br />
<label>@Model.Balance @Model.PreferredCurrency</label>