@model GeneralUserInfoViewModel

<label>End of month: @Model.CurrentUtcDateTime.AddDays(Model.DaysOfCurrentMonthLeft).ToString("MM/dd/yyyy")</label>
<br />
<label>@Model.DaysOfCurrentMonthLeft (days left)</label>
<br />
<label>@Model.Balance @Model.PreferredCurrency</label>