@model GeneralUserInfoViewModel

<label>@Model.CurrentUtcDateTime.ToLocalTime().ToShortDateString()</label>
<br />
<label>@Model.DaysOfCurrentMonthLeft (days left)</label>
<br />
<label>@Model.Balance @Model.PreferredCurrency</label>