@{    
    ViewData["Title"] = "My Page";
}

<div class="col-sm-5 text-left">
    <h2>Sidenav Push Example</h2>   
    <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>
</div>
<div class="col-sm-5 text-left">
    <h2>Sidenav Push Example</h2>    
    <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>
</div>