@{    
    ViewData["Title"] = "My Page";
}

<div class="col-sm-5 text-left container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home0">Home</a></li>
        <li><a data-toggle="tab" href="#menu10">Menu 1</a></li>
        <li><a data-toggle="tab" href="#menu20">Menu 2</a></li>
        <li><a data-toggle="tab" href="#menu30">Menu 3</a></li>
    </ul>
    <div class="tab-content">
        <div id="home0" class="tab-pane fade in active">
            <h2>Sidenav Push Example HOME 0</h2>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>

        </div>
        <div id="menu10" class="tab-pane fade">
            <h2>Sidenav Push Example MENU 1 0</h2>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>

        </div>
        <div id="menu20" class="tab-pane fade">
            <h2>Sidenav Push Example MENU 2 0</h2>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>

        </div>
        <div id="menu30" class="tab-pane fade">
            <h2>Sidenav Push Example MENU 3 0</h2>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>

        </div>
    </div>
</div>
<div class="col-sm-5 text-left container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
        <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
        <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h2>Sidenav Push Example HOME</h2>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>

        </div>
        <div id="menu1" class="tab-pane fade">
            <h2>Sidenav Push Example MENU 1</h2>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>

        </div>
        <div id="menu2" class="tab-pane fade">
            <h2>Sidenav Push Example MENU 2</h2>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>

        </div>
        <div id="menu3" class="tab-pane fade">
            <h2>Sidenav Push Example MENU 3</h2>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>

        </div>
    </div>
</div>